* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

.heading {
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.corono-updates-container {
    border-style: dashed;
    border-radius: 2px;
    border-color: aqua;
    
}

.currency-updates-container {
    background-color: brown;
}

.stocks-updates-container {
    background-color: chartreuse;
}

.covid-data-container {
    padding: 20px;
    overflow-y: auto;
    height: 500px;
}


