* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

.heading {
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.corono-updates-container {
    background-color: aqua;
}

.currency-updates-container {
    background-color: brown;
}

.stocks-updates-container {
    background-color: chartreuse;
}


.covid-data-container {
    text-align: left;
}

.table {
    border: none;
    border-collapse: separate;
}

.col-head {
    border-left: 2px solid;
}

